@model List<eCommerceProject.DAL.Member>

@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="../Admin/Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Members</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>Members Details
            <a href="../Admin/AddMember" class="btn btn-info pull-right">Add new</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Member No.</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>IsActive</th>
                            <th>Created on</th>
                            <th>Modified on</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Member No.</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>IsActive</th>
                            <th>Created on</th>
                            <th>Modified on</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@(Model.IndexOf(item) + 1)</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.PasswordHash</td>
                            <td>@item.IsActive</td>
                            <td>@item.CreatedOn</td>
                            <td>@item.ModifiedOn</td>

                            <td align="center">
                                @Html.ActionLink("Edit", "MemberEdit", new { memberId = item.MemberId })
                                
                                @Html.ActionLink("Delete", "MemberDelete", new { memberId = item.MemberId })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>